<div id="asDesigned-interface">
	<div id="asDesigned-startIcon">
		<i class="icon-cog"></i>
	</div>
	<div id="asDesigned-dialog">
		<div id="asDesigned-caption">Settings</div>

		<!-- Author Screen data -->
		<fieldset>
			<legend>Author screen data:</legend>
			<label for="author-screen-definition">Author ppi</label>
			<input data-bind="value: authorScreenDefinition" type="text" id="author-screen-definition"/><br/>
		</fieldset>

		<br/>

		<!-- User Screen data -->
		<fieldset>
			<legend>User screen data:</legend>
			<label for="screen-width">Width</label><input data-bind="value: screenWidth" type="text" id="screen-width"></input><br/>
			<label for="screen-height">Height</label><input data-bind="value: screenHeight" type="text" id="screen-height"/><br/>
			<label for="screen-diagonal">Diagonal</label><input data-bind="value: screenDiagonal" type="text" id="screen-diagonal"/><br/>
			<br/>
			<label for="screen-size-diagonal">Diagonal Size</label><input data-bind="value: screenSizeDiagonal" type="text" id="screen-size-diagonal"/>inches<br/>
			<br/>
			<label for="screen-definition">Definition</label><input data-bind="value: screenDefinition" type="text" id="screen-definition"/>dpi<br/>
		</fieldset>

		<br/>

        <!-- Result -->
        <fieldset>
            <legend>Result calculation data:</legend>
            <label for="screen-definition-ratio">Definition Ratio between the Author and the User</label>
            <input data-bind="value: screenDefinitionRatio" type="text" id="screen-definition-ratio"/><br/>
        </fieldset>

        <!-- Viewing distance -->
        <fieldset>
            <legend>Viewing distance:</legend>
            <label for="adjust-value">Adjust Value</label>
            <input data-bind="value: adjustValue" type="text" id="adjust-value"/><br/>
        </fieldset>
	</div>
</div>

<script type="text/javascript">
// This is a simple *viewmodel* - JavaScript that defines the data and behavior of your UI
function AppViewModel()
{

    this.authorScreenDefinition = ko.observable(147);

    this.screenWidth = ko.observable(screen.width);
    this.screenHeight = ko.observable(screen.height);

    this.screenDiagonal = ko.computed(function() {
            return Math.sqrt(Math.pow(this.screenWidth(), 2) + Math.pow(this.screenHeight(), 2));
        }, this);
    
    this.screenSizeDiagonal = ko.observable(3.5);

    this.screenDefinition = ko.computed(function() {
            return this.screenDiagonal() / this.screenSizeDiagonal();
        }, this);

    //Now lets calculate the author/user ratio

    //For tests only REMOVE.
    this.adjustValue = ko.observable(1);

    this.screenDefinitionRatio = ko.computed(function() {
            return this.screenDefinition() / this.authorScreenDefinition() * this.adjustValue();
        }, this);
  

//    this.capitalizeLastName = function() {
//            var currentVal = this.lastName();
//            // Read the current value
//            this.lastName(currentVal.toUpperCase());
//            
//            // Write back a modified value
//        };
}

var appViewModel = new AppViewModel();

try {    
    $('html').css('font-size', appViewModel.screenDefinitionRatio().toString() + 'em');
    updateMediaRulesEmByFactor(appViewModel.screenDefinitionRatio());
}
catch(e) { }

appViewModel.screenDefinitionRatio.subscribe(function (newValue) {
    try {    
        $('html').css('font-size', newValue.toString() + 'em');
        updateMediaRulesEmByFactor(newValue);
    }
    catch(e) { }
});

// Activates knockout.js
ko.applyBindings(appViewModel);
</script>